<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Register Screen</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6"> 
            <div class="register-form m-5 px-5"> 
              <div class="row text-center">
                <h1>Welcome to Tiny App!</h1>
              </div>
              <div class="row text-center">
                <h3>Please register to continue.</h3>
              </div>
              <form action="/register" method="POST">
                <div class="mb-3">
                  <label for="emailAddress" class="form-label">Email address</label>
                  <input 
                  type="email" 
                  name="email" 
                  class="form-control" 
                  >
                  <div id="emailHelp" class="form-text">Enter the email you want to use with Tiny App!</div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input 
                  type="password" 
                  name="password" 
                  class="form-control" 
                  >
                  <div id="password" class="form-text">Enter the password you want to use with Tiny App!</div>
                </div>
                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>      
    </main>
  </body>
</html>